<style>
.container{width:100%;margin:auto}
@media (min-width:600px) {.container{width: 80%;}}
@media (min-width:768px) {.container{width: 60%;}}
@media (min-width:1024px) {.container{width: 50%;}}
</style>

<front color = "blue"></front>

 import { Component } from '@angular/core';
import { MovieService } from './services/movie.service';

  @Component({
    selector: 'app-root',
    templateUrl: './app.component.html',
    styleUrls: ['./app.component.css'],
    providers: [ MovieService ]
  })
  export class AppComponent {
    title = 'app works!';
  }


<div class="container">
<h1>Welcome to Singapore, NTU</h1>
  <style="color:red">
<form action="/main" method="post">
  <h2>My name is WYC, may I know your name : </h2>
  <input type = "text" name="r">
  <input type = "submit" value="Enter" style="width:200px;height:100px;">
    <font color="red">
</form>
</div>
